</div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            <a href="https://www.linkedin.com/in/leandrobellini/"> Leandro Bellini </a>@ 2017
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/lib/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/lib/nprogress/nprogress.js"></script>
    <!-- Moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <!-- Skycons -->
    <script src="/js/skycons.js"></script>
    <!-- ClockPicker -->
    <script src="/lib/clockpicker-gh-pages/dist/bootstrap-clockpicker.min.js"></script>
    <!-- DataTables -->
    <script src="/lib/datatables.net-bs/js/jquery.dataTables.min.js"></script>
    <script src="/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/js/custom.js"></script>
    
  </body>
</html>

