<!-- =================== Header =================== -->
<%  include ./partials/header %>
<!-- =================== /Header =================== -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

<div class="row" > 
    
    <!-- start of weather widget -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel x_panel_home">
		<div class="x_title">
		  <h2>Sobre o projeto</h2>
		  <div class="clearfix"></div>
		</div>

		<div class="x_content">		  
		  <div class="row">

				<div class="gallery">
				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/motivacao.png " data-caption="Motivação">
				        <img src="/img/pagina_sobre/motivacao.png " alt="First image">
				    </a>
				</div>
				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/motivacao1.png " data-caption="Motivação">
				        <img src="/img/pagina_sobre/motivacao1.png " alt="First image">
				    </a>
				</div>
				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/motivacao2.png " data-caption="Motivação">
				        <img src="/img/pagina_sobre/motivacao2.png" alt="First image">
				    </a>
				</div>
			

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/TCC.jpg" data-caption="Arquitetura da aplicação">
				        <img src="/img/pagina_sobre/TCC.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/ESP-07-Frente.jpg " data-caption="ESP8266 - R$ 7,00 no Aliexpress!">
				        <img src="/img/pagina_sobre/ESP-07-Frente.jpg" alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/SKU031549-.4.jpg " data-caption="DHT22 - Sensor de temperatura + umidade do ar: R$ 7,60 (Aliexpress)">
				        <img src="/img/pagina_sobre/SKU031549-.4.jpg" alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/barometric-pressure-sensor-bmp180.jpg " data-caption="Sensor de Pressao + Temperatura - R$ 5,00 no Aliexpress!">
				        <img src="/img/pagina_sobre/barometric-pressure-sensor-bmp180.jpg" alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/soil-moisture-sensor-analog-digital-spm30421s-109-500x500.jpg" data-caption="Sensor de Umidade do Solo - R$ 4,00 no Aliexpress!">
				        <img src="/img/pagina_sobre/soil-moisture-sensor-analog-digital-spm30421s-109-500x500.jpg" alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/comeco.jpg " data-caption="Eletrônica! Mão na massa...">
				        <img src="/img/pagina_sobre/comeco.jpg " alt="First image">
				    </a>
				</div>

				

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/programacao.png " data-caption="Programação! Mão na massa...">
				        <img src="/img/pagina_sobre/programacao.png " alt="First image">
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/01.jpg " data-caption="Nó coletor de dados">
				        <img src="/img/pagina_sobre/01.jpg " alt="First image">
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/03.jpeg " data-caption="Nó atuador (Liga/Desliga bomba) com Led simulando bomba">
				        <img src="/img/pagina_sobre/03.jpeg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>
				
				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/Home.png " data-caption="Home DashBoard">
				        <img src="/img/pagina_sobre/Home.png " alt="First image">
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/irrigacao.png " data-caption="Irrigação automática">
				        <img src="/img/pagina_sobre/irrigacao.png " alt="First image">
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/temperatura.png " data-caption="Gráficos para análise">
				        <img src="/img/pagina_sobre/temperatura.png " alt="First image">
				    </a>
				</div>


				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/precision-farming.png" data-caption="Até Onde chegar?">
				        <img src="/img/pagina_sobre/precision-farming.png " alt="First image">
				        <br><center> </center>
				    </a>
				</div>
				


				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/agricultura.png" data-caption="++Informações ++Controle ++Inteligência">
				        <img src="/img/pagina_sobre/agricultura.png " alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/IoT.png" data-caption="IoT">
				        <img src="/img/pagina_sobre/IoT.png " alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/IMG_20170806_082507845.jpg " data-caption="Agricultura">
				        <img src="/img/pagina_sobre/IMG_20170806_082507845.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>


				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/IMG_20170806_082609742.jpg " data-caption="Agricultura">
				        <img src="/img/pagina_sobre/IMG_20170806_082609742.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>


				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/IMG_20170806_083320821.jpg " data-caption="Agricultura">
				        <img src="/img/pagina_sobre/IMG_20170806_083320821.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/IMG_20170806_085409808.jpg " data-caption="Agricultura">
				        <img src="/img/pagina_sobre/IMG_20170806_085409808.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/IMG_20170806_085546172.jpg " data-caption="Agricultura">
				        <img src="/img/pagina_sobre/IMG_20170806_085546172.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/IMG_20170806_085707765.jpg " data-caption="Agricultura">
				        <img src="/img/pagina_sobre/IMG_20170806_085707765.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/barao1.jpg " data-caption="Agricultura">
				        <img src="/img/pagina_sobre/barao1.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/barao2.jpg " data-caption="Agricultura">
				        <img src="/img/pagina_sobre/barao2.jpg" alt="First image">
				        <br><center> </center>
				    </a>
				</div>

				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/barao3.jpg" data-caption="Agricultura">
				        <img src="/img/pagina_sobre/barao3.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>	
				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/barao4.jpg" data-caption="Agricultura">
				        <img src="/img/pagina_sobre/barao4.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>	
				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/jardim.jpg" data-caption="Jardim">
				        <img src="/img/pagina_sobre/jardim.jpg " alt="First image">
				        <br><center> </center>
				    </a>
				</div>
				<div class="col-xs-6 col-md-4">
				    <a class="thumbnail" href="/img/pagina_sobre/jardim2.png" data-caption="Jardim">
				        <img src="/img/pagina_sobre/jardim2.png " alt="First image">
				        <br><center> </center>
				    </a>
				</div>				
			</div>
			</div>
		</div>

		</div>
	</div>
</div>


<!-- =================== Footer =================== -->
<% include ./partials/footer %>
<!-- =================== /Footer =================== -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.gallery');
</script>